name: Publish Release

on:
  release:
    types: [published]

jobs:
  publish:
    uses: WebwondersNL/Webwonders.Workflows/.github/workflows/publish-nuget.yml@main
    with:
      dotnet-version: '10.0.x'
      project-glob: 'src/**/Webwonders.Umbraco.TableEditor.csproj'
      prerelease-label: 'beta'
      require-branch-regex: '^(main|release/[0-9]+\.x)$'
      environment-name: 'nuget-prod'                
    secrets:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
